<html>
	<head>
		<title>Schedule Prediction - Test Site</title>
	</head>
	<body>
		<div class="main">
		<h1>Schedule Prediction</h1>

		<form action="{{ url_for('predict')}}" method="post">
			<input type="text" name="account" placeholder="Account" required="required"/>
			<input type="text" name="branch" placeholder="Branch" required="required"/>
			<input type="text" name="units" placeholder="Units" required="required"/>			

			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</form>

		<br>
		<br>
		
		{{ prediction_text }}
		<br>
		{{ total_days }}
		<br>
		{{ total_hours }}
		
		</div>
	</body>
</html>
	
